<%- include("head", {pageTitle: "Register"}) -%>

    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <main>

      <%- include("span") -%>

      <h1 id="login-signUp" class="font-class">Register</h1>

      <% if (inputData.hasError) { %>
        <section class="alert">
          <h2 class="font-class"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Invalid Credentials</h2>
          <p id="input-error" class="font-class"><%= inputData.message %></p>
        </section>
      <% } %>


        <!-- Makes POST request to /register route -->
      <main>
        <div class="register-form">
          <form id="form" action="/signup" method="POST">
            <p>
              <label for="email" class="font-class">E-mail</label>
              <input type="email" id="email" class="font-class" name="email" value="<%= inputData.email %>" required>
            </p>
            <p>
              <label for="email" class="font-class">Confirm Email</label>
              <input type="email" id="confirm-email" class="font-class" name="confirm-email" value="<%= inputData.confirmEmail %>" required>
            </p>
            <p>
              <label for="username" class="font-class">Enter Username</label>
              <input type="text" id="user-name" class="font-class" name="username" onkeyup="this.value = this.value.toLowerCase();" value="<%= inputData.confirmName %>" required>
            </p>
            <p>
              <label for="password" class="font-class">Password</label>
              <input type="password" id="password" class="font-class" name="password" minlength="6" value="<%= inputData.password %>" required>
            </p>
            <button type="submit" class="details btn btn-dark">Register</button>
            <p id="switch-form" class="font-class"><a href="/login">Login instead</a></p>
          </form>
        </div>
      </main>

      <!-- <script>

        var form = document.getElementById("form");

        var error = [];

        form.addEventListener("submit", function(event) {
          event.preventDefault();

          var username = document.getElementById("username");
          var password = document.getElementById("password");
        })

      </script> -->

<%- include("footer") -%>
